.reveal .cover h1{
	font-size: 4.5em;
}

.reveal .cover h2 {
	margin-top: -0.2em;
	font-size: 4em;
	margin-bottom: 0.5em;
}

.reveal .whoAmI {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2em;
}

.reveal .whoAmI a {
	display: block;
	clear: both;
	color: rgba(0,0,0, 0.4);
}

.reveal .whoAmI a:hover {
	color: rgba(0, 0, 0, 0.8);
}

.reveal .end.whoAmI a {
	color: #0000AA;
}
.reveal .end.whoAmI a:hover {
	color: #2222CC;
}

.reveal .whoAmI #twLogo {
	margin-top: 1em;
}

.reveal .positive {
	color: #22FF22;
}

.reveal .negative {
	color: #FF3333;
}
.reveal section img {
	margin: 20px;
}
.reveal .reallyBig {
	font-size: 15em;
}
.reveal .bigger {
	font-size: 3em;
}
/* Fonts */
.reveal .cursiveFont {
	font-family: 'Dancing Script', cursive;
}
.reveal .attentionFont {
	font-family: 'Londrina Sketch', cursive;
}
